body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  position: relative;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(to right, #74ebd5, #9face6);
}

:root {
  --text-color: #333;
  --stopwatch-bg: rgba(255, 255, 255, 0.5);
  --button-color: #fff;
  --start-bg: #28a745;
  --start-hover: #218838;
  --reset-bg: #dc3545;
  --reset-hover: #c82333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stopwatch {
  text-align: center;
  width: 480px;
  background: var(--stopwatch-bg);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#display {
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  animation: fadeIn 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace; /* Monospace font */
}

#display p {
  margin: 0;
  text-align: center;
  display: flex;
}

#display span {
  display: inline-block;
  width: 22px; 
}

.buttons button {
  width: 120px;
  font-size: 1rem;
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: var(--button-color);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#startStop {
  background-color: var(--start-bg);
  box-shadow: 0 4px 10px rgba(40, 167, 69, 0.5);
}

#startStop:hover {
  background-color: var(--start-hover);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(40, 167, 69, 1);
}

#reset {
  background-color: var(--reset-bg);
  box-shadow: 0 4px 10px rgba(220, 53, 69, 0.5);
}

#reset:hover {
  background-color: var(--reset-hover);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(220, 53, 69, 1);
}

@media (max-width: 768px) {
  .stopwatch {
    width: 90%;
    padding: 15px;
  }

  #display {
    font-size: 2.5rem;
  }

  .buttons button {
    width: 100px;
    font-size: 0.9rem;
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  #display {
    font-size: 2rem;
  }

  .buttons button {
    width: 90px;
    font-size: 0.8rem;
    padding: 8px 10px;
  }
}
